/* CSS Document */
@import url(//fonts.googleapis.com/css?family=Merriweather);

body {
    font-family: 'Merriweather', sans-serif;
    font-size: 1em;
    line-height: 1.2;
    color: #00008B;
}

main {
    margin-bottom: 75px;
    margin-top: 50px;
}

header {
    padding: 10px;
    background-color: #00008B;
    text-align: center;
    color: lightgray;
    margin-bottom: 20px;
}

h1 {
    font-size: 40pt;
}

h3 {
    text-decoration: underline;
    float: center;
    margin: auto;
    vertical-align: middle;
}

table {
    border: 1px solid;
    border-collapse: collapse;
    float: center;
    vertical-align: middle;
    margin: auto;
    margin-bottom: 50px;
}

th, td {
    padding: 10px;
    border: 1px solid;
}

ol {
    max-width: 100ch;
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
    width: 50%;
    padding: 10px;
}

ol p {
    font-style: bold;
}

form {
    margin: auto;
    margin-bottom: 50px;
    width: 50%;
    padding: 10px;
    color: #00008B;
    text-align: center;
    border-style: groove;
    border-color: lightgray;
}

label {
    display: block;
    padding: 5px;
    margin-top: 10px;
}

input, select {
    padding: 10px;
    margin: 10px;
    font-size: 12pt;
    border: 0;
    box-shadow: 0 0 4px 2px #736E6E;
    font-family: Merriweather;
    width: 250px;
    color: #00008B;
    border-color: #00008B;
}

.btn {
    border-style: groove;
    background-color: transparent;
    padding: 5px;
    cursor: pointer;
    color: #00008B;
    border-color: #00008B;
    float: center;
    font-size: 15pt;
    margin-right: 15px;
}

#delete {
    margin: auto;
    padding-right: 10px;
    padding-left: 10px;
    width: 100%;
}

.btn:hover, #delete:hover {
    background-color: lightgray;
    cursor: pointer;
}

a {
    font-size: 15px;
    text-align: center;
    list-style-type: none;
    color: #00008B;
    border-color: #00008B;
    margin: 15px;
    padding: 5px;
    text-decoration: none;
    border-style: groove;
    vertical-align: middle;
}

a:hover {
    background-color: lightgray;
    cursor: pointer;
}

footer {
    bottom: 0;
    width: 100%;
    background-color: #00008B;
    color: lightgray;
    font-style: italic;
    position: fixed;
    border: none;
}

footer p {
    font-size: 12px;
    padding: 0;
    margin: auto;
}

/*   ===== TABLET  media query overrides mobile styles ===== */
@media all and (min-width: 600px) {}

/*   ===== DESKTOP  media query overrides mobile and tablet styles ===== */
@media all and (min-width: 1080px) {}

/*   ===== PRINT  media query overrides previous styles =====  */
@media print {}